<!DOCTYPE html>
<html ng-app>
<head>
    <title>Extractor Bot</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/extractorBot.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div ng-controller="Settings">
        <field-set>
            <legend>Crawl Settings panel.</legend>
            <div class="control-group">
                <lable class="control-label">Start Url</lable>
                <div class="controls">
                    <input class="control" type="url" placeholder="Where to start the crawl from." ng-model="settings.startUrl"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Extraction Path
                </label>
                <div class="controls">
                    <input class="control" type="text" ng-model="settings.extractionPath" placeholder="Path to call Extraction on."/>
                </div>
            </div>
            <ul>
                <li ng-repeat="level in settings.crawlLevels">
                    <div>
                        <span>Path</span>
                        <span>{{level.path}}</span>
                    </div>
                    <div>
                        <span>CSS Expression</span>
                        <span>{{level.cssExpression}}</span>
                    </div>
                </li>
            </ul>
            <form ng-submit="settings.addCrawlLevel()">
                <div class="control-group">
                    <label class="control-label">Path</label>
                    <div class="controls">
                        <input class="control" type="text" ng-model="level.path" placeholder="Path to apply this level to."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        CSS Expression
                    </label>
                    <div class="controls">
                        <input class="control" type="text" placeholder="specify links to follow." ng-model="level.cssExpression"/>
                    </div>
                </div>
                <input class="btn-primary" type="submit" value="add"/>
            </form>

            <form ng-submit="settings.addExtraction()">
                <div class="control-group">
                    <label class="control-label">
                        Name
                    </label>
                    <div class="controls">
                        <input type="text" placeholder="name to use for extracted value" ng-model="extraction.name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Default Value
                    </label>
                    <div class="controls">
                        <input class="control" type="text" ng-model="extraction.defaultValue" placeholder="Value to use if no extraction found."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        CSS Expression
                    </label>
                    <div class="controls">
                        <input class="control" type="text" ng-model="extraction.cssExpression" placeholder="CSS Expression used to extract the value."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Type
                    </label>
                    <div class="controls">
                        <select class="control" ng-model="extraction.type">
                            <option value="text">Text</option>
                            <option value="image">Image</option>
                        </select>
                    </div>
                </div>
                <input class="btn-primary" type="submit" value="add"/>
            </form>

        </field-set>
        {{hello}}
    </div>
</body>
</html>